
@{
    ViewBag.Title = "เพิ่มไฟล์ Excel เข้าระบบ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $(document).ready(function () {
        $("#btnLoadExcel").click(function () {
            // add spinner to button
            $(this).html(
                `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> กำลังนำเข้าข้อมูลโปรดรอ...`
            );
        });
    });
</script>

<script>
    $(document).ready(
        function () {
            $('input:file').change(
                function () {
                    if ($(this).val()) {
                        $('button:submit').attr('disabled', false);
                    }
                }
            );
        });
</script>

<div class="page-section">
    <div class="container">
        <div class="row">
            <h2 class="font-weight-bold">ยินดีต้อนรับคุณ @Session["Username"] กรุณาเลือกเมนูเพื่อทำรายการ</h2>
        </div>
        <div class="row mt-3">
            <a class="btn btn-outline-info mt-1" href="@Url.Action("PatientLabs","AdminPanel")"><i class="mdi mdi-24px mdi-clipboard-search-outline"></i>  สืบค้นผลแลป</a> &nbsp; &nbsp;
            <a class="btn btn-info mt-1" href="#"><i class="mdi mdi-24px mdi-microsoft-excel"></i>  เพิ่มไฟล์ Excel เข้าระบบ</a> &nbsp; &nbsp;
            <a class="btn btn-outline-info mt-1" href="@Url.Action("ChangePassword","Login",new { id = Session["Id"] })"><i class="mdi mdi-24px mdi-key-chain"></i>  เปลี่ยนรหัสผ่าน</a> &nbsp; &nbsp;
            <a class="btn btn-outline-info mt-1" href="@Url.Action("ClearPdfFileTemp","Patient")"><i class="mdi mdi-24px mdi-archive-remove-outline"></i>  เคลียร์ไฟล์ PDF ชั่วคราวในเซิร์ฟเวอร์</a>
        </div>
    </div>
    <hr />
</div>

<div class="page-section">
    <div class="container sidebar-block">

        <h4 class="sidebar-title">เพิ่มไฟล์ Excel เข้าระบบ</h4>

        @using (Html.BeginForm("ImportExcelFile", "AdminPanel", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" id="ExcelFile" name="ExcelFile" class="form-control" />

            <div class="mt-3">
                <button id="btnLoadExcel" type="submit" class="btn btn-primary btn-block wow" disabled>นำเข้าข้อมูล</button>
            </div>

        }

        @ViewBag.Error
    </div>
</div>