
@{
    ViewBag.Title = "หน้าสำหรับผู้ดูแลระบบ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="back-to-top"></div>

<div class="page-section">
    <div class="container">
        <div class="row">
            <h2 class="font-weight-bold">ยินดีต้อนรับคุณ @Session["Username"] กรุณาเลือกเมนูเพื่อทำรายการ</h2>
        </div>
        <div class="row mt-3">
            <a class="btn btn-outline-info btn-sm mt-1" href="@Url.Action("PatientLabs","AdminPanel")"><i class="mdi mdi-24px mdi-clipboard-search-outline"></i>  สืบค้นผลแลป</a> &nbsp; &nbsp;
            <a class="btn btn-outline-info btn-sm mt-1" href="@Url.Action("ImportExcelFile","AdminPanel")"><i class="mdi mdi-24px mdi-microsoft-excel"></i>  เพิ่มไฟล์ Excel เข้าระบบ</a> &nbsp; &nbsp;
            <a class="btn btn-outline-info btn-sm mt-1" href="@Url.Action("UploadFilesResult", "AdminPanel")"><i class="mdi mdi-24px mdi-clipboard-flow-outline"></i>  ประวัติการอัพโหลดไฟล์ Excel</a> &nbsp; &nbsp;
            <a class="btn btn-outline-info btn-sm mt-1" href="@Url.Action("ChangePassword","Login",new { id = Session["Id"] })"><i class="mdi mdi-24px mdi-key-chain"></i>  เปลี่ยนรหัสผ่าน</a> &nbsp; &nbsp;
            <a class="btn btn-outline-info btn-sm mt-1" href="@Url.Action("ClearPdfFileTemp","Patient")"><i class="mdi mdi-24px mdi-archive-remove-outline"></i>  เคลียร์ไฟล์ PDF ชั่วคราวในเซิร์ฟเวอร์</a>
        </div>
    </div>
    <hr />
    <div class="container">
        <div class="row">
            <div class="sidebar container">
                <div class="sidebar-block">
                    <h4 class="sidebar-title">มีอะไรใหม่</h4>
                    <p class="font-weight-bold text-dark">-อัพเดทการจัดการข้อมูลรายผลแลป (1/11/2564)</p>
                </div>
            </div>
        </div>
    </div>
</div>



