@model IEnumerable<Zmedic.Models.Upload>

@{
    ViewBag.Title = "ประวัติการอัพโหลดไฟล์ Excel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/AssetsTheme/DataTables/datatables.css">

<script type="text/javascript" charset="utf8" src="~/AssetsTheme/DataTables/datatables.js"></script>

<script src="//cdn.datatables.net/plug-ins/1.10.11/sorting/date-eu.js" type="text/javascript"></script>

<script>
    $(function () {
        $("#status").change(function () {
            var btnSubmit = $("#btnSubmit");
            if ($(this).val().trim() != "") {
                btnSubmit.removeAttr("disabled");
            } else {
                btnSubmit.attr("disabled", "disabled");
            }
        });
    });
</script>

<script>
    $(function () {
        $("#dateTo").change(function () {
            var btnSubmit = $("#btnSubmit");
            if ($(this).val().trim() != "") {
                btnSubmit.removeAttr("disabled");
            } else {
                btnSubmit.attr("disabled", "disabled");
            }
        });
    });
</script>

<div class="back-to-top"></div>

<div class="page-section">
    <div class="container">
        <div class="row">
            <h2 class="font-weight-bold">ยินดีต้อนรับคุณ @Session["Username"] กรุณาเลือกเมนูเพื่อทำรายการ</h2>
        </div>
        <div class="row mt-3">
            <a class="btn btn-outline-info btn-sm mt-1" href="@Url.Action("PatientLabs","AdminPanel")"><i class="mdi mdi-24px mdi-clipboard-search-outline"></i>  สืบค้นผลแลป</a> &nbsp; &nbsp;
            <a class="btn btn-outline-info btn-sm mt-1" href="@Url.Action("ImportExcelFile","AdminPanel")"><i class="mdi mdi-24px mdi-microsoft-excel"></i>  เพิ่มไฟล์ Excel เข้าระบบ</a> &nbsp; &nbsp;
            <a class="btn btn-info btn-sm mt-1" href="#"><i class="mdi mdi-24px mdi-clipboard-flow-outline"></i>  ประวัติการอัพโหลดไฟล์ Excel</a> &nbsp; &nbsp;
            <a class="btn btn-outline-info btn-sm mt-1" href="@Url.Action("ChangePassword","Login",new { id = Session["Id"] })"><i class="mdi mdi-24px mdi-key-chain"></i>  เปลี่ยนรหัสผ่าน</a> &nbsp; &nbsp;
            <a class="btn btn-outline-info btn-sm mt-1" href="@Url.Action("ClearPdfFileTemp","Patient")"><i class="mdi mdi-24px mdi-archive-remove-outline"></i>  เคลียร์ไฟล์ PDF ชั่วคราวในเซิร์ฟเวอร์</a>
        </div>
    </div>
    <hr />
</div>


<div class="container sidebar-block">
    <h4 class="sidebar-title">ประวัติการอัพโหลดไฟล์ Excel</h4>
    <div class="container">
        @using (Html.BeginForm("UploadFilesResult", "AdminPanel", FormMethod.Post))
        {
            <div class="row">
                <div class="col-6">
                    <label>ค้นหาโดย วันที่เริ่มจาก (Upload Date from)</label>
                    <input type="date" id="dateFrom" name="dateFrom" data-date-format="DDMMYYYY" class="form-control" autocomplete="off">
                </div>
                <div class="col-6">
                    <label>ถึง (To)</label>
                    <input type="date" id="dateTo" name="dateTo" data-date-format="DDMMYYYY" class="form-control" autocomplete="off">
                </div>
            </div>
            <div class="row mt-4">
                <div class="col">
                    <label>ค้นหาโดยผลการอัพโหลด</label>
                    <select id="status" name="status" class="form-control">
                        <option value="">เลือก</option>
                        <option value="failure">ล้มเหลว</option>
                        <option value="sucessfully">สำเร็จ</option>
                    </select>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-12">
                    <button id="btnSubmit" class="btn btn-primary btn-block" type="submit" disabled>ค้นหา</button>
                </div>
            </div>
        }
    </div>
</div>

<div class="page-section">
    <div class="sidebar-block container">
        <div class="container">
            <div class="row">
                <div class="col-10">
                    <h4 class="sidebar-title">รายงานผลการอัพโหลด</h4>
                </div>
                <div class="col-2">
                    <a class="btn btn-primary btn-sm btn-block" href="@Url.Action("UploadFilesResult","AdminPanel")">ดูทั้งหมด</a>
                </div>
            </div>
            <br />
            <div>
                <table id="UploadTableId" class="table table-striped table-bordered table-responsive nowrap">
                    <thead>
                        <tr class="table-info">
                            <th>Upload Date</th>
                            <th>File Name</th>
                            <th>Number of Records</th>
                            <th>Number of Uploads Success</th>
                            <th>Number of Uploads Fails</th>
                            <th>Upload By</th>
                            <th>Upload Result</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@Convert.ToDateTime(item.Upload_Date).ToString("dd/MM/yyyy")</td>
                                <td>@Html.DisplayFor(modelItem => item.Upload_file_name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Number_of_Records)</td>
                                <td>@Html.DisplayFor(modelItem => item.Number_of_Success)</td>
                                <td>@Html.DisplayFor(modelItem => item.Number_of_Fails)</td>
                                <td>@Html.DisplayFor(modelItem => item.User)</td>
                                <td>@Html.DisplayFor(modelItem => item.Upload_Reuslt)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="sidebar-block container">
        <div class="container">
            <button onclick="DownloadExcel()" class="btn  btn-primary btn-block"><i class="mdi mdi-18px mdi-microsoft-excel"></i>  ดาวน์โหลดรายงาน </button>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#UploadTableId").DataTable({
            "processing": true,
            "responsive": false,
            "order": [[0, "desc"]],
            "columnDefs": [{ "targets": 0, "type": "date-eu" }],
            "language": {
                "processing": "รอสักครู่...",
                "search": "ค้นหาในตาราง:",
                "paginate": {
                    "next": "ถัดไป",
                    "previous": "ก่อนหน้า"
                },
                "info": "แสดง _START_ ถึง _END_ จาก _TOTAL_ เรคคอร์ด",
                "infoEmpty": "แสดง 0 ถึง 0 จาก 0 เรคคอร์ด",
                "lengthMenu": "แสดง _MENU_ เรคคอร์ด",
                "emptyTable": "ไม่พบข้อมูล",
                "infoFiltered": "(กรองจากทั้งหมด _MAX_ เรคคอร์ด)",
                "zeroRecords": "ไม่พบข้อมูลที่ตรงกัน",
            }
        });
    });
</script>

<script>
    function DownloadExcel() {
        $.ajax({
            type: "GET",
            url: "/AdminPanel/ExcelExportUploadFilesResult?status=@ViewBag.status&dateFrom=@ViewBag.dateFrom&dateTo=@ViewBag.dateTo",
            cache: false,
            success: function (data) {
                window.location = '/AdminPanel/DownloadUploadFilesResult';
            },
            error: function (data) {
                alert("มีบางอย่างผิดปกติ...", 3000, 'rounded');
            }
        });
    }
</script>


