@model IEnumerable<Zmedic.Models.Patient>
@{
    ViewBag.Title = "ผลตรวจที่พบทั้งหมด";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="back-to-top"></div>

<div class="page-banner overlay-dark bg-image" style="background-image: url('@Url.Content("~/AssetsTheme/img/ImgWebsite/bg.jpg")');">
    <div class="banner-section">
        <div class="container text-center wow fadeInUp">
            <nav aria-label="Breadcrumb">
                <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0 mb-2">
                    <li class="breadcrumb-item"><a href="#">หน้าหลัก</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("PatientLabSearch")">ตรวจสอบผลแลป</a></li>
                    <li class="breadcrumb-item active" aria-current="page">ผลตรวจที่พบทั้งหมด</li>
                </ol>
            </nav>
            <h1 class="font-weight-normal">ผลตรวจที่พบทั้งหมด</h1>
        </div> <!-- .container -->
    </div> <!-- .banner-section -->
</div> <!-- .page-banner -->

<div class="page-section">
    <div class="container">
        <h2>ผลตรวจที่พบทั้งหมด</h2>
        <hr>

        @if (ViewBag.Nodata != null)
        {
            <div class="text-danger">@ViewBag.Nodata</div>
        }

        @foreach (var item in Model)
        {
            <div class="row">

                <div class="col-6">
                    <a href="@Url.Action("Result", new { fileNamePdf = @item.File_Name }) " target="_blank"><h4>วันที่รับการตรวจ @Convert.ToDateTime(item.Collected_Date).ToString("dd MMMM yyyy")</h4></a>
                </div>
                <div class="col-6">
                    @if (item.MC_File_Name == null)
                    {<a class="text-secondary"> </a> }
                    else
                    {
                        <a href="@Url.Action("Result", new { fileNamePdf = item.MC_File_Name })" target="_blank"><h4>ใบรับรองแพทย์</h4></a>
                    }
                </div>
            </div>

            <hr />
        }
    </div>
</div>



